{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

<body data-template="base.twig" class="{{ body_class }}">

	<div class="header-wrapper">
		{% include 'header.twig' %}
	</div>

	{% block belowheader %}
	{% endblock %}
	
	<div class="content-wrapper">
		{% block content %}
		{% endblock %}
	</div>

	<div class="footer-wrapper">
		{% include 'footer.twig' %}
	</div>

	{{ function('wp_footer') }}
</body>
</html>