{% extends 'base.twig' %}

{% block belowheader %}
	<div class="below-header-wrapper">
	</div>
{% endblock %}

{% block content %}
	<section class="main-content">
	</section> {# /.[main-content] #}
{% endblock %}