{% block header %}
<div class="top-container">
	<div class="main-nav">
		{# Logo goes here to be before the menu #}
		<nav class="navbar-wrap" role="navigation">
			<button id="menu-toggle"><img src="{{ theme.link }}/static/images/icon-menu.png" alt="Menu Button"> Menu</button>
			{{ function('theme_render_primary_menu') }}
		</nav>
	</div>
</div> {# /.top-container #}
{% endblock %}