{% extends 'base.twig' %}

{% block belowheader %}
{% endblock %}

{% block content %}
	{#
		FOR: Default single posts that need their own page / archive (or both)
		USE: If you have more than one cpt that needs its own page, create a "single-cptName.php" file and then a "single-cptName.twig" template
	#}
{% endblock %}