// Site Button Styles

// Simple "Learn More" button
.learn-more {
	// <a> font styles are in [_typography.scss]
	// color: 

	&:hover {
		text-decoration: underline;
		// color:
	}
}

// Translucent "ghost" button
.ghost-button {
	display: inline-block;
	text-align: center;
	background-color: transparent;
	// color:
	padding: 0.5rem 1rem; // wide button
	// padding: 1rem 0.5rem; // tall button
	//transition: 0.3s ease-out; // if not <a> button

	&:hover {
		// transition: 0.3s ease-out; // if not <a> button
		// background-color: 
		// color: 
	}
}