* {
	box-sizing: border-box;
}

html, body {
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

// Navigation Area Wrapper
.header-wrapper {
}

// Header Image Area Wrapper
.below-header-wrapper {
}

// Everything else below the header image
.content-wrapper {
}

// Footer Area Wrapper
.footer-wrapper {
}