// primary nav container
.top-container {
	max-width: 75rem; // 1200px
	margin: 0 auto;
}

// hide the mobile menu toggle on desktop
#menu-toggle {
	display: none;
}

// desktop styles (full menu)
@include mq($from: $laptop) {
}

// mobile styles (hamburger menu)
@include mq($until: $laptop) {

	#menu-toggle {
		display: flex;
		align-items: center;
		background: transparent; // ugly grey box on IE w/o this
		-webkit-appearance: none;
		margin: 1.5rem 0 1rem 1.2rem;
		color: $white;
		font-size: 1.2rem;
		border: none;
		padding-bottom: 0.3rem;

		&:hover {
			cursor: pointer;
		}

		img {
			margin-right: 1rem;
			color: $white;
			max-width: 2rem;
			height: 2rem;
		}
	}

	.navbar-wrap {
		width: 100%;
	}

	#primary-menu {
		width: 100%;
		list-style: none;
		display: none;
		max-width: 20rem;

		&.menu-open {
			display: block;
		}

		li {
			display: block;
		}

		a {
			display: block;
			padding: .5rem 0;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
}