// paragraph text styles and size
p, span, a {
	font-size: 1.125rem; // 18px
	font-family: $font-body;
}

p, span {
	font-weight: normal;
	color: $black;
}

a {
	text-decoration: none;
	transition: 0.3s ease-out;

	&:hover { transition: 0.3s ease-out; }
}

// heading global styles
.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
	font-family: $font-head;
	font-weight: bold;
	color: $black;
	// text-transform: uppercase;

	&--w {
		color: $white;
		font-weight: bold;
	}
}

// h1 is the "hero" text
h1, .h1-heading {
	font-size: 3.75rem; // // 60px
}

h2, .h2-heading {
	font-size: 3rem; // 48px
}

h3, .h3-heading {
	font-size: 2.25rem; // 36px
}

h4, .h4-heading {
	font-size: 1.75rem; // 28px
}

h5, .h5-heading {
	font-size: 1.5rem; // 24px
}

h6, .h6-heading {
	font-size: 1.25rem; // 20px
}