// standard colors
$white: #FFF;
$black: #000;
$grey: #999;

// social icon colors
$twitter: #0084FF;
$facebook: #3B5998;
$google: #D34836;

// project specific colors


// fonts
$font-head: sans-serif;
$font-body: sans-serif;

// mq sizes
$small-tablet: 400px;
$tablet: 768px;
$laptop: 1023px;
$desktop: 1200px;

// mq include - usage:	  @include bp(sm) { styles here }
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px)  { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}